<%- include("partials/header.ejs") %>
  <body>
    <div id="application">
      <div id="menu">
        <img id="menuLogo" src="/img/rs.png" alt="resume2Success">
        <div id="upperMenuItems">
          <a class="menuItem" id="dashboard" href="/dashboard">Dashboard</a><br><br>
          <a class="menuItem" id="addResume" href="/resume/add">New Resume</a>
        </div>
        <div id="lowerMenuItems">
          <a class="menuItem" id="passwordChange" href="/passwordChange">Password Change</a><br>
          <a class="menuItem" id="logout" href="/">Logout</a>
        </div>
        <br/>
      </div>
      <div id="content">
        <div id="mainArea">
          <div id="sectionHeader">
            <h1 id="headerTitle">Change Password</h1>
          </div>
          <form id="passChangeForm" name="passChangeForm" class="forms" method="POST" action="/passwordChange">
            <span class="itemName">Current Password:</span>
            <input type="password" id="currentPassword" name="currentPassword"><br>
            <span class="itemName">New Password:</span>
            <input type="password" id="password" name="password"><br>
            <span class="itemName">New Password Confirm:</span>
            <input type="password" id="passwordConfirm" name="passwordConfirm"><br><br>
            <div class="formButton">
              <button id="changeButton">Change</button><br>
            </div>
          </form>
          <br/>
          <% if (typeof message != "undefined") { %>
            <div id="message"><%= message %></div><br>
          <% } %>
          <div id="cancelLink"></div>
          <br><br/>
        </div>
      </div>
      <script src="/js/passwordChange.js"></script>
    </div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>